{{define "form/socks"}}
<a-form layout="inline">
<!--    <a-form-item label="Password authentication">-->
    <table width="100%" class="ant-table-tbody">
        <tr>
            <td>{{ i18n "password" }}</td>
            <td>
                <a-form-item>
                    <a-switch :checked="inbound.settings.auth === 'password'"
                              @change="checked => inbound.settings.auth = checked ? 'password' : 'noauth'"></a-switch>
                </a-form-item>
            </td>
        </tr>
    <template v-if="inbound.settings.auth === 'password'">
        <tr>
            <td>{{ i18n "username" }}</td>
            <td>
                <a-form-item>
                    <a-input v-model.trim="inbound.settings.accounts[0].user"></a-input>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>{{ i18n "password" }}</td>
            <td>
                <a-form-item>
                    <a-input v-model.trim="inbound.settings.accounts[0].pass"></a-input>
                </a-form-item>
            </td>
        </tr>
    </template>
        <tr>
            <td>{{ i18n "pages.inbounds.enable" }} udp</td>
            <td>
                <a-form-item>
                    <a-switch v-model="inbound.settings.udp"></a-switch>
                </a-form-item>
            </td>
        </tr>
        <tr>
            <td>IP</td>
            <td>
                <a-form-item v-if="inbound.settings.udp">
                    <a-input v-model.trim="inbound.settings.ip"></a-input>
                </a-form-item>
            </td>
        </tr>
    </table>
</a-form>
{{end}}
